<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916196345868-ahkriaa46r1f0sgqi8isu9006o54ds6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916196345868-ahkriaa46r1f0sgqi8isu9006o54ds6s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>916196345868-4vq505un8a839g4upqkij53m5r4q36jh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmrD8ksTEkltNoCQxwFkrFIK4OeAol4UU</string>
	<key>GCM_SENDER_ID</key>
	<string>916196345868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mealslk.Meals-lk</string>
	<key>PROJECT_ID</key>
	<string>meals-f1216</string>
	<key>STORAGE_BUCKET</key>
	<string>meals-f1216.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916196345868:ios:2553466374a73163024629</string>
	<key>DATABASE_URL</key>
	<string>https://meals-f1216.firebaseio.com</string>
</dict>
</plist>